* {
  margin: 0;
  padding: 0;
}
header{
  background-color: rgb(0, 0, 0);
}
nav .opc{
  font-family: 'Times New Roman', Times, serif;
  font-size: 1em;
  color:rgb(255, 255, 255);
  font-style: italic;
}
h1,h2, h3 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: rgb(255, 255, 255);
  text-align: center;
  
}
p {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: justify;
  color:rgb(255, 255, 255);
}
article{
  text-decoration: rgb(255, 255, 255);
}
.uno {
  font-style: italic;
  text-decoration-color: blanchedalmond;
  color: #84f7ed;
  font-size: 15px;
  text-align: center;
  background-color: rgb(0, 0, 0);
}

.dos {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  background-color: rgb(0, 0, 0);
  
}
.tres {
  color: #ffffff;
  font-size: 15px;
  text-align: center;
  background-color: black;
}



